<li class="nav-item nav-item-submenu">
	<a href="<%= module.ticmManagement.component.sideBar.link%>" class="nav-link"><i class="icon-wrench3"></i> <span><%=module.ticmManagement.language[page.lang].sidebar_title%></span></a>

	<ul class="nav nav-group-sub" data-submenu-title="Starter kit" style="display: none;">
		<li class="nav-item"><a href="/ticmManagement/entities" class="nav-link"><%=module.ticmManagement.language[page.lang].sidebar_entities%></a></li>
		<li class="nav-item"><a href="/ticmManagement/users" class="nav-link"><%=module.ticmManagement.language[page.lang].sidebar_users%></a></li>
	</ul>
</li>